@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
html{
  font-family: Inter;
  scroll-behavior: smooth;
  background-color: black;
}

a{
  text-decoration: none;
  color: white;
}

h1{
  text-align: center;
  margin-top: 65px;
  margin-bottom: 35px;
  text-decoration: underline;
  color: white;
  font-size: 30px;
}

h2{
  margin-top: 75px;
  margin-bottom: 35px;
}


.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  position: fixed;
  left: 0%;
  right: 0px;
  top: 0px;
  z-index: 100;
}

.header-name{
  margin-left: 20px;
  padding: 6px;
  border-radius: 16px;
  border-width: 2px;
  color: white;
  border: solid;
  background-color: black;
}

.header-text{
  color:white;
  font-size: 16px;
}

.to-top{
  margin-right:20px;
  padding: 6px;
  border-radius: 16px;
  border-width: 2px;
  color: white;
  border: solid;
  background-color: black;
}

.header-name:hover{
  background-color: rgb(77, 77, 77);
}

.main{
  color: white;
  margin-left: 5%;
  margin-right: 5%;
}

.project-grid{
  margin-top: 60px;
}

.project{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 40px;
}

.project-picture-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
}
.project-picture{
  width: 100%;
  border: solid;
  border-width: 2px;
  border-color: lightgray;
  border-radius: 5px;
}

