@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
html{
  font-family: Inter;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--bg);
  color: #fff;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
  margin:0px;
}

h1{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 25px;
  text-decoration: underline;
}

a{
  text-decoration: none;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  position: fixed;
  left: 0%;
  right: 0px;
  top: 0px;
  z-index: 100;
}

.header-name{
  margin-left: 20px;
  padding: 6px;
  border-radius: 16px;
  border-width: 2px;
  border-color: white;
  border: solid;
  background-color: black;
}

.header-text{
  color:white;
  font-size: 16px;
}

.right-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  margin-right: 20px;
}

.right-section-button{
  border-color: white;
  border: solid;
  background-color: black;
  padding: 6px;
  border-radius: 16px;
}

.header-name:hover, .right-section-button:hover{
  background-color: rgb(77, 77, 77);
}


.main{
  margin-top: 80px;
  margin-left: 5%;
  margin-right: 5%;
  cursor: default;
}

.project-grid, .design-team-grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 40px;
  margin-left: 15%;
  margin-right: 15%;
}

@media (max-width: 1000px) {
  .project-grid{
      grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1500px){
  .project-grid{
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.project{
  width: 100%;
  text-align: center;
  color: white;
}

.project-photo{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: solid;
  border-color: lightgray;
  border-width: 2px;
}

.project-title{
  text-align: center;
  color: white;
}

.project-link{
  color: lightgray;
}
.project-link:hover{
  border-color: lightgray;
  border: solid;
  border-width: 2px;
  border-radius: 14px;
}

.about-me-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 40px;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
  justify-content: center;
}

.about-me-photo{
  width: 70%;
  margin-left: 25%;
  border: solid;
  border-color: lightgray;
  border-width: 2px;;
  border-radius: 5px;

}

.contact-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;

  
}

.contact-image{
  height: 60px;
  border: solid;
  border-color: white;
  border-width: 2px;;
  border-radius: 5px;
}

.contact-link{
  text-align: center;
  color: white;
}